OPENAI_API_KEY=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
SERPAPI_API_KEY=422a15ec076a33baf1273c71c14b24f82bea0821a880731dbceecefe5a9e1dea
